

#wrapper{}
#wrapper #wrap{}
#wrapper #wrap .container{width: 560px;margin: 0 auto; padding: 0 0 160px;}
#wrapper #wrap .container .section{}
#wrapper #wrap .container .section .cont_wrap {margin: 0 auto;}

.main #sec01{}
.main #sec01 .cont_wrap{max-width: 1136px;}
.main #sec01 .cont_wrap .quick_btn_box{max-width: 500px;margin: 0 auto;}
.main #sec01 .cont_wrap .quick_btn_box ul{text-align: center;}
.main #sec01 .cont_wrap .quick_btn_box ul li{display: inline-block;width: 80px;height: 80px;border-radius: 20px;border: 1px solid red;margin: 0 10px;}
.main #sec01 .cont_wrap .quick_btn_box ul li:first-child{margin-left: 0;}
.main #sec01 .cont_wrap .quick_btn_box ul li:last-child{margin-right: 0;}
.main #sec01 .cont_wrap .quick_btn_box ul li a{display: block;width: 100%;height:100%;}

.main #sec02 .cont_wrap{max-width: 1136px;}
.main #sec02 .cont_wrap .tab_box{padding: 50px 0 30px;}
.main #sec02 .cont_wrap .tab_box .airport_box{display: flex;justify-content: space-between;align-items: center;}
.main #sec02 .cont_wrap .tab_box .airport_box ul{border: 1px solid #63a1ff;border-radius: 10px;height:94px;padding: 25px 23px;}
.main #sec02 .cont_wrap .tab_box .airport_box ul li{}
.main #sec02 .cont_wrap .tab_box .airport_box .start_end_box{display: flex;justify-content: space-between;align-items: center; width: 478px;}
.main #sec02 .cont_wrap .tab_box .airport_box .start_end_box li{}
.main #sec02 .cont_wrap .tab_box .airport_box .go_day{width: 276px;}
.main #sec02 .cont_wrap .tab_box .airport_box .go_day li{}
.main #sec02 .cont_wrap .tab_box .airport_box .user_num{width: 232px;}
.main #sec02 .cont_wrap .tab_box .airport_box .user_num li{}
.main #sec02 .cont_wrap .tab_box .airport_box .search_btn{width: 50px;height: 50px;border: 1px solid #63a1ff;border-radius: 20px;}
.main #sec02 .cont_wrap .tab_box .airport_box .search_btn button{text-align: center;width: 100%;height: 100%;}

.main #sec03{}
.main #sec03 .cont_wrap{position: relative;max-width: none;}
.main #sec03 .cont_wrap .main_box{}
.main #sec03 .cont_wrap .main_box .title_box{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
text-align: center;color: #FFFFFF;z-index: 999;}
.main #sec03 .cont_wrap .main_box .title_box .title_img{width: 318px;height: 40px;}
.main #sec03 .cont_wrap .main_box .title_box .btn{display: block;color: #FFFFFF;}
.main #sec03 .cont_wrap .main_box .main_video{width: 100%;height: 100%;z-index: -1;}

#wrap .section .cont_wrap{}
#wrap .section .cont_wrap .title_box{margin-top: 100px;text-align: center;}

.button_box {text-align: center;margin-top: 30px;}
.button_box .go_btn{display:block; width: 560px;height: 56px;margin:0 auto;font-size: 1.5rem;font-weight: 600; color: #FFFFFF;text-align: center;line-height: 56px;background: #2f7bf2;border-radius: 10px;}

.login .sec01{}
.login .sec01 .login_cont{width: 560px;margin: 0 auto;padding-top: 50px;}
.login .sec01 .login_cont .id_box{margin:0 0 25px;}
.login .sec01 .login_cont .check_box{display: flex;align-items: center; margin: 25px 0;}
.login .sec01 input[type="text"]{display: block;width: 100%;height:50px;padding-left: 15px; border: 1px solid #c5c5c5;border-radius: 5px;}
.login .sec01 label{font-size: 0.8rem;}
.login .sec01 input[type="checkbox"]{width: 20px;height: 20px; border: 1px solid #c5c5c5;margin-right: 5px;}
.login .sec01 input[type="checkbox"]:checked{width: 20px;height: 20px; border: 1px solid #c5c5c5;background: #63a1ff;}.login .login_btn{margin-bottom: 25px; }
.login .find_btn{text-decoration: solid;}
.login .find_btn_1{}
.login .find_btn_2{margin: 0 10px;}
.login .find_btn_2::before{display: inline-block;content: '';width: 1px;height:15px;margin:0 10px;background: #c5c5c5;}
.login .find_btn_2::after{display: inline-block;content: '';width: 1px;height:15px;margin:0 10px;background: #c5c5c5;}
.login .find_btn_3{}

.pass .title_box{}
.pass .title_box h4{margin-top: 25px;}
.pass .pass_btn{margin-top: 100px;}

.agree_box{width:560px;margin:30px auto 0;padding: 20px 24px; border-radius: 12px; background: #F8F8F8;}
.agree_box .all_agree{}
.agree_box .check_box{margin: 20px 0;}
.agree_box .check_box .ch_div{margin: 10px 0;}
.agree_box .info_text{}

input{border: 1px solid #c5c5c5;border-radius: 10px;height: 30px;}